doctype html
html
  head
    block pageTitle
      title placeholder page title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block additionalStyles
  body
    block header
      div(id="page-header")
        block headerPageTitle
          h1 Placeholder Page Title
        div(id="header-user")
          span USER

    block content
