extends layout

block pageTitle
  title Posts

block headerPageTitle
  h1 Posts

block additionalStyles
  link(rel='stylesheet', href='/stylesheets/posts.css')

block content
  div(id="main")
    span Posts go here...
