div#posts-container {
    -moz-column-count: unset;
    -moz-column-gap: unset;
    -webkit-column-count: unset;
    -webkit-column-gap: unset;
    column-count: unset;
    column-gap: unset;
}
.post-body > .post-image {
    max-width: 100%;
    max-height: none;
}
.post-body > .post-content {
    max-height: none;
}
#post-edit-link {
    position: absolute;
    right: 10px;
    top: 10px;
}
#post-reply-button {
    text-decoration: none;
}
#comment-writer {
    display: none;
}
.post-footer-comment {
    margin-left: 5px;
}

#comment-writer form {
    width: 600px;
    margin: 0 auto 20px auto;
}
#comment-writer textarea {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    display: block;
    margin: auto;
    font-size: 16px;
    height: 120px;
    overflow-y: auto;
}
#comment-writer input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: auto;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
}

.post-comment-content {
    max-height: none;
}