#posts-container {
    -moz-column-count:2;
    -moz-column-gap: 0;
    -webkit-column-count:2;
    -webkit-column-gap: 0;
    column-count: 2;
    column-gap: 0;
}

.post-container {
    background-color: #2c2d33;
    border-radius: 10px;
    width: 650px;
    width: stretch;
    width: -webkit-fill-available;
    width: -moz-available;
    max-width: 100%;
    margin: 10px;
    display: inline-block;
}

.post-header {
    border-radius: 10px 10px 0 0;
    padding: 10px;
    position: relative;
}
.post-title {
    margin: 0;
    padding: 0;
    font-size: 27px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.post-time {
    position: absolute;
    top: 0px;
    left: 10px;
    color: #8e8e8e;
    font-size: 12px;
}
.post-title a {
    text-decoration: none;
}
.post-author {
    margin: 0;
    padding: 0;
}
.post-body {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}
.post-image {
    max-width: 100%;
    max-height: 300px;
}
.post-content {
    margin: 0;
    padding: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    background-color: #333;
    color: #DDD;
    max-height: 300px;
    overflow-y: auto;
    text-align: left;
}

.post-footer {
    border-radius: 0 0 10px 10px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    height: 40px;
    border-bottom: solid #434651 3px;
}
.post-score-container {
    float: left;
}
.post-footer-comment-container
{
    float: right;
}
.post-vote,
.post-vote:visited {
    text-decoration-line: none;
}
.post-upvote, .post-upvote:visited, .post-upvote:active, .post-upvote:hover, .post-upvote:focus {
    color: #AAA;
}
.post-downvote, .post-downvote:visited, .post-downvote:active, .post-downvote:hover, .post-downvote:focus {
    color: #AAA;
}
.post-upvote.vote-selected {
    color: green;
}
.post-downvote.vote-selected {
    color: rgb(158, 14, 14);
}
.post-vote:hover {
    filter: brightness(175%);
}
.post-footer-comment {
    float: right;
    text-decoration-line: none;
}
.post-footer-comment > img {
    height: 22px;
    vertical-align: text-bottom;
}

.new-post-link {
    display: inline-block;
    margin-top: 50px;
    font-size: 30px;
}

.post-comments-container {
    padding: 10px;
}
.post-comments-container h2 {
    margin: 0;
    padding: 0;
}
.post-comment-container {
    width: calc(100% - 100px);
    display: inline-block;
    margin: 5px auto;
    background-color: #1f1e26;
    border-radius: 10px;
}
.post-comment-header {
    text-align: center;
    background-color: #17161c;
    padding: 7px;
    border-radius: 10px 10px 0 0;
    position: relative;
}
.comment-delete {
    color: #c84242;
    text-decoration: none;
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 20px;
}
.post-comment-body {
    background-color: #17161c;
}
.post-comment-content {
    padding: 10px;
    margin: 0 30px;
    background-color: #333;
    border-radius: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    color: #DDD;
    max-height: 200px;
    overflow-y: auto;
}
.post-comment-footer {
    text-align: center;
    background-color: #17161c;
    padding: 7px;
    border-radius: 0 0 10px 10px;
}